<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Modern Quilts: Make a Black and White Quilt</title>
        <link rel="stylesheet" href="../css/blogarticle.css">
    </head>
    <body>
        <div class="main-container">
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">Subscribe</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </nav>
            <div class="search">
                <form>
                    <input type="text" size="10" value="Search">
                    <button>Go</button>
                </form>
            </div>
            <header>
                <h1>Modern Quilt Projects</h1>
            </header>
            <main>
                <article>
                    <h2>Make a Black and White Quilt</h2>
                    <div class="byline">By Susie Q. Sewist, 12 Feb 2020</div>
                    <p>This is a fantastic paragraph all about the joys of quilting. It is <em>really</em> useful and exciting. Sometimes it <a href="#">links</a> somewhere.</p>
                    <figure>
                        <img src="../images/black-white-quilt.jpg" alt="Black and White Quilt">
                        <figcaption>This is beautiful, isn't it?</figcaption>
                    </figure>
                    <p>This is a fantastic paragraph all about the joys of quilting. This is a fantastic paragraph all about the joys of quilting. This is a fantastic paragraph all about the joys of quilting. This is a fantastic paragraph all about the joys of quilting.</p>
                    <blockquote>"I have to say, quilting is really by far the most fun side pursuit."</blockquote>
                    <p>This paragraph is the next paragraph. It is <em>really</em> useful and exciting. Sometimes it <a href="#">links</a> somewhere.</p>
                    <p><strong>You don't want to miss this important instruction.</strong>This is a fantastic paragraph all about the joys of quilting. This is a fantastic paragraph all about the joys of quilting. This is a fantastic paragraph all about the joys of quilting. This is a fantastic paragraph all about the joys of quilting. It is <em>really</em> useful and exciting. Sometimes it <a href="#">links</a> somewhere.</p>
                </article>
            </main>
            <aside>
                <h3>About the Author</h3>
                <div class="auth-headshot">
                    <img src="../images/author.JPG" alt="Headshot of Susie Q. Sewist">
                </div>
                <div class="auth-name">Susie Q. Sewist</div>
                <div class="auth-title">Master Sewist</div>
                <div class="auth-company">Sewing, Inc.</div>
                <div class="auth-snippet">I sew, teach, and enjoy nature.</div>
                <h3>Share this Article</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
                <h3>Materials I Love</h3>
                <div class="product-flex-container">
                    <div class="product">Fabrics by Moda, Michael Miller, Kaffe Fasset</div>
                    <div class="product">Mat</div>
                    <div class="product">Super quilting caddy with pockets for everything</div>
                    <div class="product">Rotary cutter</div>
                </div>
            </aside>
            <footer>Copyright 2020 The Crafty Crafter</footer>
        </div>
    </body>
</html>